.slide {
    text-align: center;
    position: absolute;
}

.slider_container {
    width: 100%;
    text-align: center;
    margin: auto;
}

.prev {
    position: absolute;
    margin-top: 10vw;
    margin-left:26vw;
    color: black;
    background: none;
    height: 5vw;
    border-radius: 1vw;
}

.next {
    position: absolute;
    margin-top: 10vw;
    margin-left:70vw;
    color: black;
    background: none;
    height: 5vw;
    border-radius: 1vw;
}